main {
  padding: 0;
  margin: 0;

  // section {
  //   padding: 30px 0;
  // }

  section#home {
    height: 100vh;
    width: 100%;
    .background-intersect {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

// MEDIA QUERIES:

@media screen and (min-width: 400px) {
  section#home {
    //padding: 20vh 10vw 25vh !important;
  }
}

@media screen and (min-width: 500px) {
  section#home {
    //padding: 17vh 15vw 22vh !important;
  }
}

@media screen and (min-width: 750px) {
  section#home {
    //padding: 17vh 20vw 20vh !important;
  }
}

@media screen and (min-width: 1000px) {
  section#home {
    //padding: 15vh 25vw 17vh !important;
  }
}

@media screen and (min-width: 1800px) {
  section#home {
    //padding: 15vh 28vw 15vh !important;
  }
}

@media screen and (min-width: 2500px) {
  section#home {
    //padding: 20vh 35vw !important;
  }
}
