footer#footer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.1s;
}
footer#footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
footer#footer ul li {
  padding-left: 8px;
  padding-right: 8px;
}
footer#footer ul li a svg {
  transition: 0.1s;
}
footer#footer ul li a svg:hover {
  fill: var(--color-primary);
}
footer#footer div {
  margin-top: 10px;
  text-align: center;
}
footer#footer ul li .dev {
  position: relative;
  bottom: 4px;
}

@media screen and (max-width: 800px) {
  #works {
    padding-bottom: 10px;
  }
  footer#footer {
    background-color: #f5f5f5;
  }
}
