nav {
  display: flex;
  justify-content: space-between;
  padding: 0.6em 0.2em;
  background-color: var(--color-primary);
  width: 100%;
  z-index: 1;
  position: fixed;
}
nav * {
  list-style-type: none;
  padding: 0 0.5em;
  margin: 0;
  display: flex;
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}