nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em 0.2em;
  background-color: var(--color-primary);
  width: 100%;
  z-index: 1;
  position: fixed;
}
nav * {
  list-style-type: none;
  padding: 0 0.5em;
  margin: 0;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.no-select {
  /* prevent blue highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* for chrome on android */
  -webkit-tap-highlight-color: transparent;
}
button {
  background: none;
  border: none;
  outline: none;
  transition: 0.2s;
}
button:hover {
  opacity: 0.6;
}
#resume {
  border: 1px solid #fff;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  transition: 0.3s;
}
#resume:hover {
  background-color: #fff;
  color: var(--color-primary);
}
