main {
  padding: 0 5vw;
  margin: 0 auto;
}
main section {
  padding: 30px 0;
}
#home {
  height: 100vh;
  max-width: 1440px;
  padding: 100px 0;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#home h3 {
  font-weight: bold;
}
#home a {
  text-decoration: none;
  color: var(--color-primary);
}
#home a:hover {
  border-bottom: 3px solid var(--color-primary);
}
#about blockquote {
  background-color: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 0.8em 1em;
}
#about blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
#about blockquote footer {
  color: #a9a9a9;
  margin-top: 0.5em;
  text-align: right;
  font-style: normal;
  font-weight: bold;
}
#about blockquote footer::before {
  content: "\2015";
}
#skills ul {
  /* list-style: none; */
  list-style-image: url('../assets/icons/iconmonstr-arrow-34-12.png');
}
/* #skills ul li::before {
  content: "\25B6";
  color: var(--color-primary);
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  margin-left: -1em;
} */
#skills footer {
  color: #888;
  margin-top: 1em;
}
#skills footer::before {
  content: "* ";
}
#work {
  display: none;
}