.work-card {
  --hero-size: 65;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 3em;
}

.work-hero {
  width: 70%;
}

.work-side {
  width: 25%;
}

.work-description {
}
