.work-description {
  font-size: calc(0.8em + 0.08vw);
}

.work-card-container {
  margin-top: 2em;
  margin-bottom: 3em;
}

.work-card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.work-links {
  list-style-type: none;
  padding: 0;
  margin-top: 0.3em;
  margin-bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.work-links svg {
  transition: 0.15s;
}

.work-links a {
  display: block;
  padding: 0.4em 0.4em 0;
  margin-bottom: 0.8em;
  background-color: #eee;
  border-radius: 50%;
  transition: 0.15s;
  z-index: 0.2;
}

.work-links a:hover {
  background-color: #333;
}

.work-links a:hover svg {
  fill: #eee;
}

.work-card-container:nth-child(odd) .work-links {
  right: -9.5em;
  align-items: flex-start;
}
.work-card-container:nth-child(even) .work-links {
  left: -9.5em;
  align-items: flex-end;
}

.work-card-container:nth-child(odd) .before {
  display: none;
}
.work-card-container:nth-child(even) .before {
  right: 0.6em;
  transition: 0.1s;
}
.work-card-container:nth-child(even) .after {
  display: none;
}
.work-card-container:nth-child(odd) .after {
  left: 0.6em;
  transition: 0.2s;
}

.hide-hint {
  opacity: 0;
}
.work-card-container:nth-child(even) .hide-hint {
  transform: translateX(60%);
}
.work-card-container:nth-child(odd) .hide-hint {
  transform: translateX(-60%);
}

.show-hint {
  transform: translateX(0);
  opacity: 1;
}

.work-links > li {
  display: flex;
  align-items: center;
}

.work-links span {
  position: relative;
  top: -0.5em;
  color: #666;
  font-size: calc(0.8em + 0.08vw);
  z-index: -5;
}

.work-hero {
  width: 100%;
}

.work-side {
  width: 100%;
}

.work-techs {
  padding: 0;
  list-style-type: none;
  /* line-height: 1.7em; */
}

.work-tag {
  font-size: calc(0.8em + 0.08vw);
  font-weight: bold;
  display: inline-block;
  padding: 0.15em 0.3em;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 0.35em;
  margin: 0.3em 0.25em;
}

@media screen and (max-width: 1233px) {
  .work-card-container:nth-child(odd) .work-links {
    right: -5.5em;
  }
  .work-card-container:nth-child(even) .work-links {
    left: -5.5em;
  }
}

@media screen and (max-width: 1059px) {
  .work-card-container:nth-child(odd) .work-links {
    right: -2.6em;
  }
  .work-card-container:nth-child(even) .work-links {
    left: -2.6em;
  }
}

@media screen and (max-width: 960px) {
  .work-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .work-links {
    /* display: none; */
    margin: 0;
    position: initial;
    flex-direction: row;
    justify-items: flex-end;
  }
  .work-links a {
    margin: 0 0.3em 0.5em 0.5em;
    transform: scale(1.05);
  }
}

@media screen and (min-width: 720px) {
  .work-card-container:nth-child(odd) > .work-card {
    flex-direction: row-reverse;
    /* flex-direction: row; */
  }
  .work-card-container:nth-child(even) > .work-card {
    flex-direction: row;
    /* flex-direction: row-reverse; */
  }
  .work-card > picture {
    width: 48%;
  }
  .work-side {
    width: 48%;
  }
  .work-title {
    margin-top: 0.1em;
  }
}

@media screen and (min-width: 960px) {
  .work-card-container {
    position: relative;
    margin-bottom: 4em;
  }
  .work-card > picture {
    width: 68%;
  }
  /* .work-hero {
    width: 68%;
  } */
  .work-side {
    width: 28%;
  }
  .work-title {
    margin-top: 0.5em;
  }
}
