footer#footer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.1s;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    li {
      padding-left: 8px;
      padding-right: 8px;
      a.social {
        svg {
          transition: 0.1s;
          &:hover {
            fill: var(--color-primary);
          }
        }
      }
      .dev-icon {
        position: relative;
        bottom: 4px;
      }
    }
  }
  .copyright {
    margin-top: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  #works {
    padding-bottom: 10px;
  }
  footer#footer {
    background-color: #f5f5f5;
  }
}
