:root {
  --color-primary: #7d33d1;
}

@font-face {
  font-family: 'Coolvetica';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/coolvetica-rg.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Light.ttf');
}





.App {
  /* background-color: #0a192f;
  color: #e6f1ff; */
}
*::selection {
  background-color: var(--color-primary);
  color: #fff;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: calc(0.9em + 0.1vw);
}
h1 { 
  font-size: calc(2em + 2.5vw);
  font-family: 'Coolvetica', sans-serif;
}
h2 { 
  font-size: calc(1.8em + 0.7vw);
  font-family: 'Coolvetica', sans-serif;
  color: var(--color-primary)
}
h3 { 
  font-size: calc(1em + 0.3vw);
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
}
p {
  line-height: 1.6em;
}
blockquote {
  font-style: italic;
  line-height: 1.6em;
}
footer {
  font-size: calc(0.8em + 0.08vw);
}







nav {
  display: none;
}





main {
  padding: 0 5vw;
  margin: 0 auto;
}
main section {
  padding: 30px 0;
}
#home {
  height: 100vh;
  max-width: 1440px;
  padding: 100px 0;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#about blockquote {
  background-color: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 0;
  padding: 0.8em 1em;
}
#about blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
#about blockquote footer {
  color: #a9a9a9;
  margin-top: 0.5em;
  text-align: right;
  font-style: normal;
  font-weight: bold;
}
#about blockquote footer::before {
  content: "\2015";
}
#skills ul {
  /* list-style: none; */
  list-style-image: url('./assets/icons/iconmonstr-arrow-34-16.png');
}
/* #skills ul li::before {
  content: "\25B6";
  color: var(--color-primary);
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
  margin-left: -1em;
} */
#skills footer {
  color: #888;
  margin-top: 1em;
}
#skills footer::before {
  content: "* ";
}
#work {
  display: none;
}





footer#footer {
  margin-top: 15px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer#footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
footer#footer ul li {
  padding-left: 8px;
  padding-right: 8px;
}
footer#footer ul li a svg:hover {
  fill: var(--color-primary);
}
footer#footer div {
  margin-top: 10px;
  text-align: center;
}






@media screen and (min-width: 360px) {
  main {
    padding: 0 10vw;
  }
}

@media screen and (min-width: 480px) {
  main {
    padding: 0 15vw;
  }
  footer div br {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  main {
    padding: 0;
    width: 720px
  }
}


h1, h2 {letter-spacing: 0;}
@media screen and (max-width: 480px) { 
  .selector:not(*:root), h1, h2 {
    letter-spacing: 0.04em;
  }
}