:root {
  --color-primary: #eb6812;
}

@font-face {
  font-family: 'Coolvetica';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/coolvetica-rg.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Light.ttf');
}

.App {
  /* background-color: #0a192f;
  color: #e6f1ff; */
}
*::selection {
  background-color: var(--color-primary);
  color: #fff;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: calc(0.9em + 0.1vw);
}
header * {
  font-size: calc(1.08em - 0.05vw);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: calc(2em + 2.5vw);
  font-family: 'Coolvetica', sans-serif;
}
h2 {
  font-size: calc(1.8em + 0.7vw);
  font-family: 'Coolvetica', sans-serif;
  color: var(--color-primary);
}
h3 {
  font-size: calc(1em + 0.3vw);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
p {
  line-height: 1.6em;
}
blockquote {
  font-style: italic;
  line-height: 1.6em;
}
footer {
  font-size: calc(0.8em + 0.08vw);
}

@media screen and (min-width: 360px) {
  main {
    padding: 0 10vw;
  }
}

@media screen and (min-width: 480px) {
  main {
    padding: 0 15vw;
  }
  footer div br {
    display: none;
  }
}



@media screen and (min-width: 960px) {
  main {
    padding: 0;
    width: 840px;
  }
}

h1,
h2 {
  letter-spacing: 0;
}

@media screen and (max-width: 480px) {
  .selector:not(*:root),
  h1,
  h2 {
    letter-spacing: 0.04em;
  }
}
