:root {
  --color-primary: #4e33b1;
}

/*
100 -> Thin
200 -> Extra-light
300 -> Light
400 -> Regular
500 -> Medium
600 -> Semi-bold
700 -> Bold
800 -> Extra-bold
900 -> Black
*/

*::selection {
  background-color: var(--color-primary);
  color: #fff;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: calc(0.9em + 0.1vw);
}
header * {
  font-size: calc(17px - 0.05vw);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.intro-text {
  h1 {
    font-family: 'Poppins', sans-serif;
    line-height: calc(1.28em + 1.76vw);
    .line-1 {
      font-weight: 800;
      font-size: calc(1.2em + 1.76vw);
    }
    .line-2 {
      font-weight: 200;
      font-size: calc(0.8em + 1.2vw);
    }
  }
  p {
    font-weight: 300;
    font-size: calc(0.7em + 0.7vw);
  }
}
h2,
.hashtag {
  font-size: calc(1.8em + 0.7vw);
  font-family: 'Poppins', sans-serif;
  color: var(--color-primary);
}
h3 {
  font-size: calc(1em + 0.3vw);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #bbb;
}
p {
  line-height: 1.8em;
}
ul {
  line-height: 1.5em;
}
blockquote {
  font-style: italic;
  line-height: 1.6em;
}
footer {
  font-size: calc(0.8em + 0.08vw);
}
section {
  margin: 0 auto;
  padding: 30px 5vw;
}

// MEDIA QUERIES:

@media screen and (min-width: 360px) {
  section {
    padding: 30px 6vw;
  }
}

@media screen and (min-width: 480px) {
  section {
    padding: 30px 7vw;
  }
  footer div br {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  section {
    padding: 30px 0;
    width: 840px;
  }
}

h1,
h2 {
  letter-spacing: 0.03em;
}
@media screen and (max-width: 480px) {
  .selector:not(*:root),
  h1,
  h2 {
    letter-spacing: 0.04em;
  }
}
